<table>
        {{#each records}}
        <tr>
            <td>
            {{this}}
            </td>      
        </tr>
        {{/each}}
</table>
{{#if notpageone}}
<form method="get" action="/bookslist/{{startChar}}/{{backnext.back}}">
    <button type='submit'> Back </button>
</form>
{{/if}}

<form method="get" action="/bookslist/{{startChar}}/{{backnext.next}}">
    <button type='submit'> Next </button>
</form>