<table>
        {{#each results}}
        <tr>
            <td>
            <a href="/bookdetails/{{this.book_id}}">{{this.title}}</a>
            </td>      
        </tr>
        {{/each}}
</table>
{{#if notpageone}}
<form method="get" action="/bookslist/{{startChar}}/{{backnext.back}}">
    <button type='submit'> Back </button>
</form>
{{/if}}

{{#if notlastpage}}
<form method="get" action="/bookslist/{{startChar}}/{{backnext.next}}">
    <button type='submit'> Next </button>
</form>
{{/if}}