<!-- {
"url": "https://www.nytimes.com/2018/12/06/books/review/michelle-obama-becoming-memoir.html",
"publication_dt": "2018-12-06",
"byline": "Isabel Wilkerson",
"book_title": "Becoming",
"book_author": "Michelle Obama",
"summary": "The former first lady’s long-awaited new memoir recounts with insight, candor and wit her family’s trajectory from the Jim Crow South to Chicago’s South Side and her own improbable journey from there to the White House.",
"uuid": "00000000-0000-0000-0000-000000000000",
"uri": "nyt://book/00000000-0000-0000-0000-000000000000"} -->

{{#with listofreviews}}
    Book title: {{book_title}} <br>
    Author: {{book_author}} <br>
    Reviewer: {{byline}} <br>
    Review date: {{publication_dt}} <br>
    Summary of the review: {{summary}} <br>
    Full review: <a href="" target="_blank">Click here</a>

{{/with}}